body { font-family:Verdana, Arial, sans-serif;
       background-color: #f8f8ff.
	   margin: 0;
}

#wrapper { max-width: 1280px;
           color: #000066;
		   background-color: #FFFFF0;
           width: 80%;
		   margin: auto;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;

}

h1 {
	font-family: calibri;
	text-align: center;
	margin-top: 0px;
}
.navbar {
	width:100%;
	background-color: #000000;
	overflow: auto;
}

.navbar a {
	float: left;
	padding: 12px;
	color: white;
	text-decoration: none;
	font-size: 17px;
	width: 22%;
	text-align: center;
}
.navbar a:hover {
	background-color: #808080;
}

.navbar a.active {
	background-color: #FFC0CB;
	color: black;
}

@media screen and (max-width: 1200px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

.box {
	position: relative;
	display: inline-block;
}

.box .text {
	position: absolute;
	z-index: 999;
	margin: auto;
	left: 0;
	right: 0;
	top: 40%;
	text-align: center;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	color: #FFFFFF;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}

footer {
	position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}

h2 {
	text-align: center;
}

p {
	text-align: center;
}